*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
    background-image: url('');
}
.container{

    margin-top: 100px;
    margin-left: 70px;
}
.card{
    margin-top: 130px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}
.form-group{
    padding: 10px;
}

.form-control{
    padding: 8px;
    border-radius: 21px;
}

.btn{
    padding: 10px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-left: 10px;

}

/*room.html*/
.page-container {
      background-color: #b1b1b1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
    }

    .content {
      width: 80%;
      max-width: 500px;
      padding: 2rem;
      /* height: fit-content; */
      max-height: 80vh;
      background-color: #eef0f2;
      border-radius: 1rem;
      box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.2);
      /* overflow-y: scroll; */

      display: grid;
      grid-template-rows: fit-content auto fit-content;
    }